<p>step-html works!</p>
<div class="steps-container">
    <div class="step-swap-active">
        step 1
    </div>
    <div class="step-divider"></div>
    
    <div class="step-swap">
        step 2
    </div>
    <div class="step-divider"></div>
    
    <div class="step-swap">
    </div>
    <div class="step-divider"></div>
    
    <div class="step-swap">
        done
    </div>
</div>
<p>step-html works!</p>

<div class="steps-container">
    <div class="step-swap">
        step 1
    </div>
    <div class="step-divider"></div>
    
    <div class="step-swap">
        step 2
    </div>
    <div class="step-divider"></div>
    
    <div class="step-swap">
        step 3
    </div>
    <div class="step-divider"></div>
    
    <div class="step-swap-active">
        done
    </div>
</div>
<p>step-html works!</p>